<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>工作</title>
		
	<script src="plugins/vue.js" type="text/javascript"></script>
		
	<link href="default.css" rel="stylesheet" type="text/css" /> 
	<link href="css/card.css" rel="stylesheet" type="text/css" /> 
	<script src="plugins/globalUI.js" type="text/javascript"></script>
</head>

<body>
	<div id="work-page" class="page-body">
		<div v-show="ctl.showAddPanel">
			<P class="field-item">
				名称：
				<label class="grey-inline-box">
					<input v-model="formDate.workName" class="field none-field"/>
					<a @click="formDate.workName=''" class="a-simple-button" href="javascript:void(0);">x</a>
				</label>
			</P>
			<P class="field-item">
				<label><input v-model="ctl.checkedtemplate" value="piStream" name="checkedtemplate" type="radio"/>PI流程</label>
				<label><input v-model="ctl.checkedtemplate" value="oneOpt" name="checkedtemplate" type="radio"/>一个页面</label>
			</P>
			<P class="field-item">
				<input @click="createWork" type="button" value="✔" class="button default-button"/>
				<a @click="closeAddPanel" href="javascript:void(0);" title="关闭新增框">隐藏</a>
			</P>
		</div>
	
		<div>
			<P class="field-item">
				名称：
				<label class="grey-inline-box">
					<input v-model="search.workName" class="field none-field"/>
					<a @click="search.workName=''" class="a-simple-button" href="javascript:void(0);">x</a>
				</label>
				<label class="grey-inline-box">
					<input v-model="search.title" class="field none-field"/>
					<a @click="search.title=''" class="a-simple-button" href="javascript:void(0);">x</a>
				</label>
			</P>
			<P class="field-item">
				<a @click="openAddPanel" class="a-simple-button" href="javascript:void(0);" title="打开新增框">+</a>
				<a @click="clearChecked" class="a-simple-button" href="javascript:void(0);" title="取消选中">c</a>
				<a @click="persist" class="a-simple-button" href="javascript:void(0);" title="保存">s</a>
				<a @click="loadData" class="a-simple-button" href="javascript:void(0);" title="加载">o</a>
				<a @click="clearScreen" class="a-simple-button" href="javascript:void(0);" title="清空显示">x</a>
				<a @click="localtion" class="a-simple-button" href="javascript:void(0);" title="到当前">۞</a>
			</P>
		</div>
		
		<div id="work-panel" style="height:calc(100% - 65px);overflow:auto;">
			<dl class="card-panel" v-for="(w,i) in workList" @click="checkWork(i)" :class="{'checked-card':w.checked}" v-show="w.show" style="width:45vw;">
				<dt class="card-title">
					{{workList.length - i}}. {{w.workName}}
					
					<span class="card-opt">
						<a @click="addFieldToWork(i)" href="javascript:void(0);" class="a-simple-button">+</a>
						<a @click="clearWork(i)" href="javascript:void(0);" class="a-simple-button">c</a>
						<a @click="removeWork(i)" href="javascript:void(0);" class="a-simple-button">x</a>
						<label class="card-checkbox">
							<input @change="singleCheck(i)" v-model="w.checked" type="checkbox"/>
						</label>
					</span>
				</dt>
				<dd class="card-content" style="max-height:450px;">
					<div>
						<div v-for="(field, fieldIndex) in w.fieldList" class="card-content-p">
							<span style="display:inline-block;width:100px;">{{field.title}}</span>: 
							<div class="content-value">
								<template v-for="vindex in field.value.length">
									<label class="content-value-item">
										<input v-model.trim="field.value[vindex-1]" class="field"/>
										<a @click="appendValueInput(i, fieldIndex, vindex-1)" href="javascript:void(0);" class="a-simple-button" title="添加条目">+</a>
										<a @click="removeValueInput(i, fieldIndex, vindex-1)" href="javascript:void(0);" class="a-simple-button" title="删除条目">x</a>
										<a @click="clearValueInput(i, fieldIndex, vindex-1)" href="javascript:void(0);" class="a-simple-button" title="清除内容">c</a>
										
										<a v-if="vindex == 1" @click="editInputTitle(i, fieldIndex, vindex-1)" href="javascript:void(0);" class="a-simple-button" title="修改标题">t</a>
										<a v-else @click="appendValueInputByCurr(i, fieldIndex, vindex-1)" href="javascript:void(0);" class="a-simple-button" title="以此创建新条目">n</a>
										
									</label>
								</template>
							</div>
						</div>
					</div>
				</dd>
			</dl>
		</div>
	</div>
</body>

<script>

var workPageVue = new Vue({
	el: "#work-page",
	data: {
		formDate:{
			workName:""
		},
		search:{
			workName:"",
			title:""
		},
		workList:[],
		ctl:{
			checkedtemplate:"piStream",
			showAddPanel:false
		}
	},
	watch:{
		"search.workName":function(){
			this.filterList();
		},
		"search.title":function(){
			this.filterList();
		}
	},
	methods:{
		filterList:function(){
			var search = this.search;
			this.workList.forEach((work) => {
				if(search.workName){
					if(work.workName.indexOf(search.workName) == -1){
						work.show = false;
						return;
					}
				}
				
				if(!search.title){
					work.show = true;
					return;
				}
				var finded = work.fieldList.findIndex(f => {
					if(f.title.indexOf(search.title) > -1){
						return true;
					}
					return false;
				});
				if(finded > -1)
					work.show = true;
				else
					work.show = false;
			});
		},
		closeAddPanel:function(){
			this.ctl.showAddPanel = false;
		},
		openAddPanel:function(){
			this.ctl.showAddPanel = true;
		},
		addFieldToWork:function(index){
			var currItem = this.workList[index];
			var title = prompt("输入标题");
			if(title && (title = title.trim())){
				var field = templateList.subTemplate.field();
				field.title = title;
				currItem.fieldList.push(field);
			}
		},
		editInputTitle:function(index, fieldIndex){
			var currItem = this.workList[index];
			var title = prompt("", currItem.fieldList[fieldIndex].title);
			title = title ? title.trim() : title;
			if(title){
				currItem.fieldList[fieldIndex].title = title;
			}
		},
		removeValueInput:function(index, fieldIndex, vindex){
			var currItem = this.workList[index]; 
			if(currItem.fieldList[fieldIndex].value.length > 1){
				currItem.fieldList[fieldIndex].value.splice(vindex, 1);
			}else{
				if(confirm("delete?")){
					currItem.fieldList.splice(fieldIndex, 1);
				}
			}
		},
		clearValueInput:function(index, fieldIndex, vindex){
			var currItem = this.workList[index]; 
			currItem.fieldList[fieldIndex].value[vindex] = "";
			this.$forceUpdate();
			
			event.target.parentNode.querySelector("input").focus();
		},
		commentValueInput:function(index, fieldIndex, vindex){
			var currItem = this.workList[index];
			var com = prompt("");
			com = com ? com.trim() : com;
			if(com){
				currItem.fieldList[fieldIndex].title[vindex] = com;
			}
		},
		appendValueInputByCurr:function(index, fieldIndex, vindex){
			var currItem = this.workList[index];
			var field = templateList.subTemplate.field();
			
			var title = prompt("", currItem.fieldList[fieldIndex].value[vindex]);
			title = title ? title.trim() : title;
			if(title){
				field.title = title;
			}else{
				field.title = currItem.fieldList[fieldIndex].value[vindex];
			}
			field.value[0] = currItem.fieldList[fieldIndex].value[vindex];
			field.value[1] = "请求地址：";
			field.value[2] = "请求方法：";
			
			currItem.fieldList.push(field);
			this.scrollToCardBottom(index);
		},
		appendValueInput:function(index, fieldIndex, vindex){
			var currItem = this.workList[index]; 
			currItem.fieldList[fieldIndex].value.splice(vindex + 1, 0, "");
		},
		clearWork:function(index){
			if(confirm("delete?")){
				var currItem = this.workList[index];
				currItem.fieldList.forEach(function(item){
					item.value.splice(0, item.value.length, "");
				});
			}
		},
		removeWork:function(index){
			if(confirm("delete?")){
				this.workList.splice(index, 1);
			}
		},
		checkWork:function(index){
			var currItem = this.workList[index];
			currItem.checked = true;
			this.singleCheck(index);
		},
		singleCheck:function(index){
			var currItem = this.workList[index];
			if(currItem.checked){
				this.workList.forEach(item => {
					if(currItem != item){
						item.checked = false;
					}
				});
			}
		},
		localtion:function(){
			if(this.workList.length==0){
				return;
			}
			var checkedIndex = this.workList.findIndex(item => {
				if(item.checked){
					return true;
				}
				return false;
			});
			if(checkedIndex >= 0){
				document.getElementById("work-panel").scrollTop = 440 * checkedIndex;
			}
		},
		clearScreen:function(){
			this.workList.splice(0, this.workList.length);
		},
		persist:function(){
			var data = JSON.stringify(this.workList);
			var a = document.createElement("a");
			a.download = "work_" + new Date().toJSON() + ".json";
			a.href=window.URL.createObjectURL(new Blob([data]));
			a.click();
			
			window.localStorage.setItem("local-work-list", data);
		},
		loadData:function(){
			var that = this;
			var input = document.createElement("input");
			input.type="file";
			input.addEventListener("change", function(){
				var file = input.files[0];
				var reader = new FileReader();
				reader.onload = function(){
					that.setData(this.result);
				};
				reader.readAsText(file);
			});
			input.click();
		},
		setData:function(dataStr){
			var that = this;
			var arr = JSON.parse(dataStr);
			if(arr && arr.length > 0){
				that.$data.workList.slice(0, that.$data.workList.length);
				arr.forEach(item => {
					that.$data.workList.push(item);
				});
			}
		},
		clearChecked:function(){
			this.workList.forEach(function(item){
				item.checked = false;
			});
		},
		createWork:function(){
			var workName = "";
			if(this.formDate.workName){
				workName = this.formDate.workName;
				this.formDate.workName = "";
			}
			
			var tempName = this.ctl.checkedtemplate;
			if(tempName){
				var tempIns = templateList[tempName].apply(this);
				if(workName){
					tempIns.workName = tempIns.workName + "_" + workName;
				}
				this.workList.splice(0, 0, tempIns);
				this.filterList();
			}
		},
		scrollToCardBottom:function(index){
			var target = event.target;
			var currCardDD = target.parentNode.parentNode.parentNode.parentNode.parentNode;
			var currPanel = target.parentNode.parentNode.parentNode.parentNode;
			this.$nextTick(function(){
				currCardDD.scrollTop = currPanel.scrollHeight;
			});
		}
	},
	created:function(){
		var dataStr = window.localStorage.getItem("local-work-list");
		this.setData(dataStr);
	}
});


setInterval(function(){
	var data = JSON.stringify(workPageVue.$data.workList);
	window.localStorage.setItem("local-work-list", data);
}, 1000);


var templateList = {
	"subTemplate":{
		"field":function(){
			return {
				title:"询价单号",
				value:[""]
			};
		}
	},
	"piStream" : function(){
		return {
			show:true,
			workName:"PI流程",
			checked:false,
			fieldList:[
				{title:"询价单号",value:[""]}, 
				{title:"询价子单号",value:[""]},  
				{title:"询价BOM号",value:[""]}, 
				{title:"PI组号",value:[""]}, 
				{title:"PI号",value:[""]}, 
				{title:"BOM号",value:[""]}, 
				{title:"MOKO号",value:[""]}, 
				{title:"入库单号",value:[""]}, 
				{title:"领料单号",value:[""]}, 
				{title:"采购单号",value:[""]}, 
				{title:"补料号",value:[""]}
			]
		};
	},
	"oneOpt" : function(){
		return {
			show:true,
			workName:"一个页面",
			checked:false,
			fieldList:[
				{title:"链接",value:[""]}, 
				{title:"controller方法",value:[""]},
				{title:"页面",value:[""]},  
				{title:"页面查询",value:[""]}, 
				{title:"实体",value:[""]},  
				{title:"业务方法",value:[""]}, 
				{title:"dao方法",value:[""]}
			]
		};
	}
};

</script>

<style>
	.content-value-item{
		display:inline-block;
		margin-bottom:5px;
		width: 100%;
	}
	
	.content-value-item:hover input{
		border-color:rgba(0,255,0,0.2);
	}
	
	.content-value-item:last-child{
		margin-bottom:0px;
	}
	
	#work-panel input.field{
		width:calc(100% - 150px);
	}
	
</style>

</html>
