<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>位置</title>
    <link href="/css/data.css" rel="stylesheet" type="text/css"/>
</head>

<div class="message">
    <h3>${message!""}</h3>
    <h2>${"name"[1..*1]}</h2>
</div>

<#if beandData ??>

<#if beandOptType == 'ADD'>
<form action="/position/put" method="post">
<#elseif beandOptType == 'UPDATE'>
<form action="/position/post" method="post">
<#else>
<form>
</#if>
    <div class="data-model">
        <p style="display: none">
            <input type="hidden" name="id" value="${(beandData.id)!''}"/>
        </p>
        <p class="item"><label class="field-title">code: </label><input name="code" value="${(beandData.code)!''}" class="field-input"/></p>
        <p class="item"><label class="field-title">name: </label><input name="name" value="${(beandData.name)!''}" class="field-input"/></p>
        <p class="item"><label class="field-title">address: </label><input name="address" value="${(beandData.address)!''}" class="field-input"/></p>
        <p class="item"><label class="field-title">located: </label><input name="located" value="${(beandData.located)!''}" class="field-input"/></p>
    </div>
    <div class="data-operation">
        <#if (beandOptType??) && (beandOptType != 'VIEW')>
            <#if beandOptType == 'ADD'>
                <#if (!(operationResult??) || operationResult == 400)>
                    <button>新增</button>
                </#if>
            <#elseif beandOptType == 'UPDATE'>
                <#if (!(operationResult??) || operationResult == 400)>
                    <button>修改</button>
                </#if>
            </#if>
        </#if>

        <input type="button" onclick="window.close()" value="关闭"/>
        <input type="reset" value="重置"/>
    </div>
</form>
<#else>
<div class="error-message">无数据</div>
</#if>
</body>
</html>
