.field-title{
    display:inline-block;
    min-width:80px;
    padding:0px 10px;
}

.error-message{
    color:red;
    text-align: center;
}

.data-body{
    width:calc(100% - 20px);
    text-align:center;
    margin:0px auto;
}

.data-list{
}

.data-table{
    border-color: #ccc;
    border-width: 1px;
    width:calc(100% - 2px);
}

.data-operation-panel{
    position: relative;
    min-height: 30px;
    width:100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}

.data-list-operation{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100px;
    text-align: right;
}

.data-list-conditional{
    text-align: left;
    width: calc(100% - 100px);
}

.data-page{
    text-align: right;
    margin-top: 5px;
}

.message{
    color:green;
}