<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看</title>
    <script src="../vue-plugin/Vue-2.6.10.js"></script>
    <script src="jquery-1.8.2.min.js"></script>
    <script src="../../js/global.js"></script>

    <script src="js/view.js"></script>
    <link rel="stylesheet" href="css/view.css" type="text/css"/>
</head>
<body>
<div id="data-view">
    <div id="data-question">
        <p class="question">{{record.content}}</p>
        <p>
            <label class="marker" v-for="(item, index) in record.marker" v-bind:key="index">{{item.content}}</label>
        </p>
        <p class="operation">
            <a href="javascript:void(0);" onclick="addAnswerForQuestion()">新增答案</a>
            <a href="javascript:void(0);" onclick="addMarkerForQuestion()">新增标签</a>
        </p>
    </div>
    <div id="data-answer">
        <template v-for="(item, index) in record.answers">
            <div class="answer" v-bind:key="index">
                <div class="content">{{item.content}}</div>
                <div class="markers">
                    <label class="marker" v-for="(marker, mindex) in item.markers" v-bind:key="mindex">{{marker.content}}</label>
                </div>
                <p class="operation">
                    <a href="javascript:void(0);" v-bind:onclick="'addMarkerForAnswer(\'' + item.id + '\')'">新增标签</a>
                </p>
            </div>
        </template>
    </div>
</div>
</body>
</html>